.version.contact /* version checker */
{
	color: #0000ED;
	background-color: #96DA59;
}

.html
{
	background-color: #D2D2D2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 796px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 239px;
	width: 0.01px;
}

#pu941-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u941-3,#u941-3-bw
{
	z-index: 2;
	min-height: 114px;
}

#u276,#u276-bw
{
	z-index: 5;
	height: 49px;
}

#u1390
{
	z-index: 23;
	width: 128px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 81px;
}

#u301-4
{
	z-index: 25;
	width: 318px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 196px;
}

#u1657
{
	z-index: 29;
	width: 263px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 155px;
}

#u1657_img
{
	padding-right: 1px;
}

#menuu883
{
	z-index: 31;
	width: 473px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 571px;
}

#u884
{
	width: 93px;
	min-height: 41px;
	margin-right: -10000px;
}

#u885
{
	width: 93px;
	padding-bottom: 19px;
}

#u885:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u887-4
{
	width: 89px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u885:hover #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885:active #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885.MuseMenuActive #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u912
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 94px;
}

#u913
{
	width: 94px;
	padding-bottom: 19px;
}

#u913:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u913:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u914-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913:hover #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u913:active #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u891
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 189px;
}

#u894
{
	width: 94px;
	padding-bottom: 19px;
}

#u913.MuseMenuActive,#u894:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u894:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u895-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913.MuseMenuActive #u914-4,#u894:hover #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u894:active #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u945
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 284px;
}

#u948
{
	width: 94px;
	padding-bottom: 19px;
}

#u894.MuseMenuActive,#u948:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u948:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u951-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u894.MuseMenuActive #u895-4,#u948:hover #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u948:active #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u955
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 379px;
}

#u958
{
	width: 94px;
	padding-bottom: 19px;
}

#u948.MuseMenuActive,#u958:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u959-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u948.MuseMenuActive #u951-4,#u958:hover #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958:active #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958.MuseMenuActive #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u278
{
	z-index: 62;
	height: 14px;
}

#u278-bw
{
	z-index: 62;
	margin-top: 100px;
	height: 14px;
}

#u1472-4
{
	z-index: 104;
	width: 841px;
	min-height: 68px;
	background-color: transparent;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: left;
	font-size: 42px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	margin-left: 108px;
	margin-top: 50px;
	position: relative;
}

#pppu1477-3
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 43px;
}

#ppu1477-3
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 3px;
}

#pu1477-3
{
	width: 0.01px;
}

#u1477-3
{
	z-index: 73;
	width: 425px;
	min-height: 351px;
	background: #6D86BA url("../images/u1477-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#151924),color-stop(100%, #6D86BA));
	background: -webkit-linear-gradient(top,#151924 ,#6D86BA 100%);
	background: linear-gradient(to bottom,#151924 ,#6D86BA 100%);
	border-color: #C8C8C8;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	border-radius: 12px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
}

#u1057-22
{
	z-index: 78;
	width: 393px;
	min-height: 355px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: nobile, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 19px;
}

#u1057-2
{
	font-size: 29px;
	line-height: 1.24;
	font-weight: 700;
}

#u1057-4
{
	font-size: 22px;
	line-height: 1.24;
	font-weight: 500;
	font-style: italic;
}

#u1057-6
{
	font-size: 12px;
	line-height: 1.24;
	font-weight: 500;
	font-style: italic;
}

#u1057-7,#u1057-9
{
	font-size: 18px;
	line-height: 1.24;
	font-weight: 500;
}

#u1057-10,#u1057-12,#u1057-14,#u1057-15,#u1057-16
{
	font-size: 11px;
	font-weight: 500;
}

#u1057-18,#u1057-20
{
	font-size: 18px;
	font-weight: 500;
}

#u1475
{
	z-index: 108;
	width: 425px;
	height: 166px;
	background: transparent url("../images/u1475-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.64)),color-stop(100%, rgba(50,80,140,0)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.64) ,rgba(50,80,140,0) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.64) ,rgba(50,80,140,0) 100%);
	border-color: #000000;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	border-radius: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1476-3
{
	z-index: 109;
	width: 425px;
	min-height: 93px;
	background: transparent url("../images/u1476-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#9AA2B3),color-stop(76%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,#9AA2B3 ,rgba(255,255,255,0) 76%);
	background: linear-gradient(to bottom,#9AA2B3 ,rgba(255,255,255,0) 76%);
	border-color: #C8C8C8;
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
	border-radius: 12px;
	font-size: 20px;
	margin-top: 4px;
	position: relative;
}

#u1056
{
	z-index: 76;
	width: 426px;
	border-color: #EBE8E8;
	background-color: #FFFFFF;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	left: 446px;
	padding: 12px 15px 24px 14px;
}

#u1463-4
{
	z-index: 100;
	width: 410px;
	min-height: 32px;
	background-color: transparent;
	font-size: 18px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
}

#u1054
{
	z-index: 77;
	width: 407px;
	min-height: 419px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 1px;
	position: relative;
}

#pu508-3
{
	width: 0.01px;
	margin-top: 11px;
}

#u508-3
{
	z-index: 6;
	width: 959px;
	min-height: 62px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u468
{
	z-index: 9;
	width: 960px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u522
{
	z-index: 10;
	margin-bottom: -6px;
	width: 72px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -6px;
}

#u529-4
{
	z-index: 12;
	width: 223px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 720px;
}

#u530-7
{
	z-index: 16;
	width: 157px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 519px;
}

#u1754-4
{
	z-index: 63;
	width: 155px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 49px;
}

#u1756-6
{
	z-index: 67;
	width: 198px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 263px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 18px;
}

