.Character-Style
{
	font-family: inconsolata-n7, sans-serif;
}

#u301-4
{
	font-family: raleway-n1, sans-serif;
}

#u887-4
{
	font-family: nobile-n5, sans-serif;
}

#u914-4
{
	font-family: nobile-n5, sans-serif;
}

#u895-4
{
	font-family: nobile-n5, sans-serif;
}

#u951-4
{
	font-family: nobile-n5, sans-serif;
}

#u959-4
{
	font-family: nobile-n5, sans-serif;
}

#u529-4,#u530-7,#u1754-4,#u1756-6
{
	font-family: nobile-n4, sans-serif;
}

#u574-4,#u612-4
{
	font-family: nobile-i7, sans-serif;
}

#u626-4,#u576-4,#u583-4,#u625-4,#u1064-6
{
	font-family: nobile-n5, sans-serif;
}

#u1064-2,#u1070-2,#u1070-3,#u1070-5,#u1070-8,#u1070-9,#u1070-11
{
	font-family: architects-daughter-n4, sans-serif;
}

#u1196-4,#u628-4,#u581-4,#u582-4,#u585-4,#u1070-7,#u1070-13
{
	font-family: nobile-n4, sans-serif;
}

