.version.portfolio /* version checker */
{
	color: #00001B;
	background-color: #748E9A;
}

.html
{
	background-color: #D2D2D2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 795.8000000000002px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 239px;
	width: 0.01px;
}

#pu941-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u941-3,#u941-3-bw
{
	z-index: 2;
	min-height: 114px;
}

#u276,#u276-bw
{
	z-index: 5;
	height: 49px;
}

#u1390
{
	z-index: 23;
	width: 128px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 81px;
}

#u301-4
{
	z-index: 25;
	width: 318px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 196px;
}

#u1657
{
	z-index: 29;
	width: 263px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 155px;
}

#u1657_img
{
	padding-right: 1px;
}

#menuu883
{
	z-index: 31;
	width: 473px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 571px;
}

#u884
{
	width: 93px;
	min-height: 41px;
	margin-right: -10000px;
}

#u885
{
	width: 93px;
	padding-bottom: 19px;
}

#u885:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u887-4
{
	width: 89px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u885:hover #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885:active #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885.MuseMenuActive #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u912
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 94px;
}

#u913
{
	width: 94px;
	padding-bottom: 19px;
}

#u913:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u913:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u914-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913:hover #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u913:active #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u891
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 189px;
}

#u894
{
	width: 94px;
	padding-bottom: 19px;
}

#u913.MuseMenuActive,#u894:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u894:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u895-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913.MuseMenuActive #u914-4,#u894:hover #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u894:active #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u945
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 284px;
}

#u948
{
	width: 94px;
	padding-bottom: 19px;
}

#u894.MuseMenuActive,#u948:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u948:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u951-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u894.MuseMenuActive #u895-4,#u948:hover #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u948:active #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u955
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 379px;
}

#u958
{
	width: 94px;
	padding-bottom: 19px;
}

#u948.MuseMenuActive,#u958:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u959-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u948.MuseMenuActive #u951-4,#u958:hover #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958:active #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958.MuseMenuActive #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u278
{
	z-index: 62;
	height: 14px;
}

#u278-bw
{
	z-index: 62;
	margin-top: 100px;
	height: 14px;
}

#u1467-4
{
	z-index: 259;
	width: 603px;
	min-height: 68px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 7px;
	line-height: 1.37;
	font-size: 42px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	margin-left: 178px;
	margin-top: 44px;
	position: relative;
}

#u1829
{
	z-index: 75;
	width: 794px;
	background: transparent url("../images/u1829-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.64)),color-stop(26%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.64) ,#FFFFFF 26%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.64) ,#FFFFFF 26%);
	border-color: #B8BABC;
	border-radius: 10px;
	margin-left: 47px;
	margin-top: 6px;
	position: relative;
	padding: 40px 36px 1px 37px;
}

#u1830-23
{
	z-index: 311;
	width: 794px;
	min-height: 316px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	left: -1px;
	position: relative;
}

#pu1824
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 30px;
}

#u1824
{
	z-index: 309;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1819
{
	z-index: 307;
	width: 383px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 411px;
}

#pu1850
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 21px;
}

#u1850
{
	z-index: 73;
	width: 867px;
	background: transparent url("../images/u1850-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.64)),color-stop(26%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.64) ,#FFFFFF 26%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.64) ,#FFFFFF 26%);
	border-color: #B8BABC;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u1883
{
	z-index: 340;
	width: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 24px;
}

#u1880
{
	z-index: 341;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 310px;
}

#u1877
{
	z-index: 343;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u1872
{
	z-index: 345;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1851
{
	z-index: 347;
	width: 126px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 18px;
}

#u1856
{
	z-index: 349;
	width: 126px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 175px;
}

#u1861
{
	z-index: 351;
	width: 126px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 329px;
}

#u1887-25
{
	z-index: 358;
	width: 342px;
	min-height: 310px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 508px;
}

#u1887-17
{
	font-size: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1887-13,#u1887-14,#u1887-15,#u1887-18,#u1887-20,#u1887-21,#u1887-23
{
	font-size: 10px;
}

#u1884-5
{
	z-index: 353;
	width: 815px;
	min-height: 36px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 41px;
}

#u1884-2
{
	font-size: 23px;
}

#u1831
{
	z-index: 74;
	width: 864px;
	border-width: 1px;
	border-style: solid;
	border-color: #B8BABC;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 23px;
	margin-left: 47px;
	margin-top: 23px;
	position: relative;
}

#pu1578-29
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 24px;
}

#u1578-29
{
	z-index: 278;
	width: 503px;
	min-height: 81px;
	background-color: transparent;
	text-align: left;
	font-family: nobile, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#u1578-4
{
	font-size: 20px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1578
{
	font-size: 26px;
}

#u1578-9,#u1578-11,#u1578-13,#u1578-15,#u1578-17,#u1578-19
{
	line-height: 1.46;
}

#u1573
{
	z-index: 276;
	width: 522px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u1573_img
{
	padding-bottom: 18px;
}

#pu1832
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 549px;
}

#u1832
{
	z-index: 334;
	width: 284px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#u1845
{
	z-index: 338;
	width: 284px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 29px;
	position: relative;
}

#u1840
{
	z-index: 336;
	width: 284px;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#u1840_clip
{
	overflow: hidden;
	width: 284px;
	height: 160px;
}

#u1840_img
{
	margin: -4px -5px 4px 5px;
}

#pu779
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 22px;
}

#u779
{
	z-index: 76;
	width: 867px;
	border-color: #B8BABC;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-bottom: 57px;
	position: relative;
	margin-right: -10000px;
}

#u722-16
{
	z-index: 171;
	width: 830px;
	min-height: 555px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 19px;
}

#u1830-21,#u1887-8,#u1887-10,#u1884-3,#u722-13
{
	font-size: 12px;
}

#u749
{
	z-index: 263;
	width: 698px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 82px;
}

#pu747
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u747
{
	z-index: 270;
	width: 192px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u744
{
	z-index: 271;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u705
{
	z-index: 273;
	width: 152px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 18px;
}

#u748
{
	z-index: 275;
	width: 169px;
	height: 23px;
	background: transparent url("../images/u748-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(74%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,#000000 ,rgba(0,0,0,0) 74%);
	background: linear-gradient(to bottom,#000000 ,rgba(0,0,0,0) 74%);
	border-color: #000000;
	opacity: 0.12;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=12)";
	filter: alpha(opacity=12);
	border-radius: 20px 20px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 11px;
}

#pu738
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 254px;
}

#u738
{
	z-index: 267;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u744_img,#u738_img
{
	padding-right: 4px;
	padding-bottom: 7px;
}

#u743
{
	z-index: 269;
	width: 169px;
	height: 23px;
	background: transparent url("../images/u748-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(74%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,#000000 ,rgba(0,0,0,0) 74%);
	background: linear-gradient(to bottom,#000000 ,rgba(0,0,0,0) 74%);
	border-color: #000000;
	opacity: 0.12;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=12)";
	filter: alpha(opacity=12);
	border-radius: 20px 20px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 11px;
}

#pu733
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 508px;
}

#u733
{
	z-index: 265;
	width: 190px;
	background-color: transparent;
	position: relative;
}

#u719
{
	z-index: 264;
	width: 169px;
	height: 23px;
	background: transparent url("../images/u748-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(74%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,#000000 ,rgba(0,0,0,0) 74%);
	background: linear-gradient(to bottom,#000000 ,rgba(0,0,0,0) 74%);
	border-color: #000000;
	opacity: 0.12;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=12)";
	filter: alpha(opacity=12);
	border-radius: 20px 20px 0px 0px ;
	margin-left: 11px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u720
{
	z-index: 77;
	width: 866px;
	border-width: 1px;
	border-style: solid;
	border-color: #B8BABC;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 6px;
	margin-left: 46px;
	margin-top: 34px;
	position: relative;
}

#u639-25
{
	z-index: 78;
	width: 459px;
	min-height: 318px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 23px;
}

#u639-5
{
	letter-spacing: -1px;
}

#u781
{
	z-index: 187;
	width: 355px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 504px;
}

#u723
{
	z-index: 188;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u728
{
	z-index: 190;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u755
{
	z-index: 192;
	width: 866px;
	border-width: 1px;
	border-style: solid;
	border-color: #B8BABC;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 8px;
	margin-left: 46px;
	margin-top: 36px;
	position: relative;
}

#u780
{
	z-index: 193;
	width: 355px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 23px;
}

#u762
{
	z-index: 194;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u762_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u767
{
	z-index: 196;
	width: 174px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u767_clip
{
	overflow: hidden;
	width: 174px;
	height: 327px;
}

#u767_img
{
	margin-right: -6px;
	margin-bottom: -11px;
}

#u772-14
{
	z-index: 198;
	width: 446px;
	min-height: 318px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 404px;
}

#u1830-2,#u722-2,#u639-2,#u772-2
{
	font-size: 25px;
}

#u772-5
{
	line-height: 1.35;
}

#u1830-3,#u1830-5,#u1830-6,#u1830-8,#u1830-9,#u1830-11,#u1830-12,#u1830-14,#u1830-16,#u1830-17,#u1887-2,#u1887-3,#u1887-5,#u1887-6,#u1887-11,#u722-3,#u722-5,#u722-6,#u722-8,#u722-9,#u639-21,#u639-23,#u772-8,#u772-10,#u772-12
{
	font-size: 14px;
}

#pu641
{
	width: 0.01px;
	margin-left: 69px;
	margin-top: 102px;
}

#u641
{
	z-index: 103;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u651-9
{
	z-index: 107;
	width: 256px;
	min-height: 195px;
	background-color: transparent;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u651-4,#u651-5,#u651-7
{
	text-align: justify;
}

#u646
{
	z-index: 105;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 442px;
}

#u652-9
{
	z-index: 116;
	width: 256px;
	min-height: 200px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#pu695
{
	width: 0.01px;
	margin-left: 69px;
	margin-top: 51px;
}

#u695
{
	z-index: 159;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u716-10
{
	z-index: 161;
	width: 259px;
	min-height: 195px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u651-2,#u716-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1887-17  span,#u1887-17  a,#u1578-4  span,#u1578-4  a,#u651-2  span,#u716-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u1578-22,#u1578-23,#u1578-27,#u716-4
{
	font-size: 11px;
}

#u653
{
	z-index: 125;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 443px;
}

#u663-11
{
	z-index: 129;
	width: 256px;
	min-height: 163px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#pu658
{
	width: 0.01px;
	margin-left: 69px;
	margin-top: 56px;
}

#u658
{
	z-index: 127;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u664-9
{
	z-index: 140;
	width: 259px;
	min-height: 172px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 143px;
}

#u665
{
	z-index: 149;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 442px;
}

#u774-9
{
	z-index: 212;
	width: 259px;
	min-height: 172px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 585px;
}

#pu670
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 46px;
}

#u670
{
	z-index: 151;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u775-9
{
	z-index: 221;
	width: 259px;
	min-height: 172px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 145px;
}

#u680
{
	z-index: 155;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u776-9
{
	z-index: 230;
	width: 259px;
	min-height: 172px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#pu675
{
	width: 0.01px;
	margin-left: 72px;
	margin-top: 55px;
}

#u675
{
	z-index: 153;
	width: 345px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u690
{
	z-index: 157;
	width: 370px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 440px;
}

#pu778-9
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 18px;
}

#u778-9
{
	z-index: 250;
	width: 370px;
	min-height: 172px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u777-11
{
	z-index: 239;
	width: 370px;
	min-height: 172px;
	background-color: transparent;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u651,#u652-2,#u716-2,#u663-2,#u664-2,#u774-2,#u775-2,#u776-2,#u778-2,#u777-2
{
	font-size: 20px;
}

#pu508-3
{
	width: 0.01px;
	margin-top: 11px;
}

#u508-3
{
	z-index: 6;
	width: 959px;
	min-height: 62px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u468
{
	z-index: 9;
	width: 960px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u522
{
	z-index: 10;
	margin-bottom: -6px;
	width: 72px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -6px;
}

#u529-4
{
	z-index: 12;
	width: 223px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 720px;
}

#u530-7
{
	z-index: 16;
	width: 157px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 519px;
}

#u1754-4
{
	z-index: 63;
	width: 155px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 49px;
}

#u1756-6
{
	z-index: 67;
	width: 198px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 263px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 18px;
}

