.Character-Style
{
	font-family: inconsolata-n7, sans-serif;
}

#u301-4
{
	font-family: raleway-n1, sans-serif;
}

#u887-4
{
	font-family: nobile-n5, sans-serif;
}

#u914-4
{
	font-family: nobile-n5, sans-serif;
}

#u895-4
{
	font-family: nobile-n5, sans-serif;
}

#u951-4
{
	font-family: nobile-n5, sans-serif;
}

#u959-4
{
	font-family: nobile-n5, sans-serif;
}

#u529-4,#u530-7,#u1754-4,#u1756-6
{
	font-family: nobile-n4, sans-serif;
}

#u456-4
{
	font-family: nobile-n7, sans-serif;
}

#u1915-2
{
	font-family: architects-daughter-n4, sans-serif;
}

#u457-10,#u1915-6,#u1916-5
{
	font-family: nobile-n5, sans-serif;
}

