.version.index /* version checker */
{
	color: #00001C;
	background-color: #41EC8B;
}

.html
{
	background-color: #D2D2D2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1084px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 238px;
	width: 0.01px;
}

#pu941-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u941-3,#u941-3-bw
{
	z-index: 2;
	min-height: 114px;
}

#u276,#u276-bw
{
	z-index: 5;
	height: 49px;
}

#u1390
{
	z-index: 23;
	width: 128px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 81px;
}

#u301-4
{
	z-index: 25;
	width: 318px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 196px;
}

#u1657
{
	z-index: 29;
	width: 263px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 155px;
}

#u1657_img
{
	padding-right: 1px;
}

#menuu883
{
	z-index: 31;
	width: 473px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 571px;
}

#u884
{
	width: 93px;
	min-height: 41px;
	margin-right: -10000px;
}

#u885
{
	width: 93px;
	padding-bottom: 19px;
}

#u885:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u887-4
{
	width: 89px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u885:hover #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885:active #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885.MuseMenuActive #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u912
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 94px;
}

#u913
{
	width: 94px;
	padding-bottom: 19px;
}

#u913:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u913:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u914-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913:hover #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u913:active #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u891
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 189px;
}

#u894
{
	width: 94px;
	padding-bottom: 19px;
}

#u913.MuseMenuActive,#u894:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u894:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u895-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913.MuseMenuActive #u914-4,#u894:hover #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u894:active #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u945
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 284px;
}

#u948
{
	width: 94px;
	padding-bottom: 19px;
}

#u894.MuseMenuActive,#u948:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u948:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u951-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u894.MuseMenuActive #u895-4,#u948:hover #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u948:active #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u955
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 379px;
}

#u958
{
	width: 94px;
	padding-bottom: 19px;
}

#u948.MuseMenuActive,#u958:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u959-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u948.MuseMenuActive #u951-4,#u958:hover #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958:active #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958.MuseMenuActive #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u278
{
	z-index: 62;
	height: 14px;
}

#u278-bw
{
	z-index: 62;
	margin-top: 100px;
	height: 14px;
}

#pu413
{
	width: 0.01px;
	margin-left: -119px;
	margin-top: 27px;
}

#u413
{
	z-index: 73;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u413_img
{
	padding-bottom: 1px;
}

#u453-3
{
	z-index: 75;
	width: 3px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 249px;
}

#u456-4
{
	z-index: 78;
	width: 677px;
	min-height: 72px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 1.5;
	font-size: 42px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 412px;
}

#u457-10
{
	z-index: 82;
	width: 603px;
	min-height: 192px;
	background-color: transparent;
	line-height: 2;
	color: #2B2B2C;
	text-align: left;
	font-size: 23px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 412px;
}

#u438
{
	z-index: 92;
	width: 121px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 692px;
}

#u501
{
	z-index: 94;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 824px;
}

#u810
{
	z-index: 96;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 907px;
}

#u815
{
	z-index: 98;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 633px;
}

#u1915-6
{
	z-index: 100;
	width: 695px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	color: #040426;
	text-align: center;
	font-size: 30px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 508px;
	left: 393px;
}

#u1915-2
{
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
}

#u1916-5
{
	z-index: 106;
	width: 377px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	color: #040426;
	text-align: center;
	font-size: 30px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 549px;
	left: 702px;
}

#u1916
{
	color: #1606FF;
}

#pu508-3
{
	width: 0.01px;
	margin-top: 11px;
}

#u508-3
{
	z-index: 6;
	width: 959px;
	min-height: 62px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u468
{
	z-index: 9;
	width: 960px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u522
{
	z-index: 10;
	margin-bottom: -6px;
	width: 72px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -6px;
}

#u529-4
{
	z-index: 12;
	width: 223px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 720px;
}

#u530-7
{
	z-index: 16;
	width: 157px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 519px;
}

#u1754-4
{
	z-index: 63;
	width: 155px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 49px;
}

#u1756-6
{
	z-index: 67;
	width: 198px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 263px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 18px;
}

