.version.services /* version checker */
{
	color: #00001E;
	background-color: #DE90E2;
}

.html
{
	background-color: #D2D2D2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 796px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 239px;
	width: 0.01px;
}

#pu941-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u941-3,#u941-3-bw
{
	z-index: 2;
	min-height: 114px;
}

#u276,#u276-bw
{
	z-index: 5;
	height: 49px;
}

#u1390
{
	z-index: 23;
	width: 128px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 81px;
}

#u301-4
{
	z-index: 25;
	width: 318px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 196px;
}

#u1657
{
	z-index: 29;
	width: 263px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 155px;
}

#u1657_img
{
	padding-right: 1px;
}

#menuu883
{
	z-index: 31;
	width: 473px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 571px;
}

#u884
{
	width: 93px;
	min-height: 41px;
	margin-right: -10000px;
}

#u885
{
	width: 93px;
	padding-bottom: 19px;
}

#u885:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u885.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u887-4
{
	width: 89px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u885:hover #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885:active #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u885.MuseMenuActive #u887-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u912
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 94px;
}

#u913
{
	width: 94px;
	padding-bottom: 19px;
}

#u913:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u913:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u914-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913:hover #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u913:active #u914-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u891
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 189px;
}

#u894
{
	width: 94px;
	padding-bottom: 19px;
}

#u913.MuseMenuActive,#u894:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u894:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u895-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u913.MuseMenuActive #u914-4,#u894:hover #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u894:active #u895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u945
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 284px;
}

#u948
{
	width: 94px;
	padding-bottom: 19px;
}

#u894.MuseMenuActive,#u948:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u948:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u951-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u894.MuseMenuActive #u895-4,#u948:hover #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u948:active #u951-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u955
{
	width: 94px;
	min-height: 41px;
	margin-right: -10000px;
	left: 379px;
}

#u958
{
	width: 94px;
	padding-bottom: 19px;
}

#u948.MuseMenuActive,#u958:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u958.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u959-4
{
	width: 90px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
}

#u948.MuseMenuActive #u951-4,#u958:hover #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958:active #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u958.MuseMenuActive #u959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u278
{
	z-index: 62;
	height: 14px;
}

#u278-bw
{
	z-index: 62;
	margin-top: 100px;
	height: 14px;
}

#pu1454-3
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 61px;
}

#u1454-3
{
	z-index: 94;
	width: 872px;
	min-height: 142px;
	border-color: #C8C8C8;
	background-color: #27282A;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	border-radius: 12px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
}

#u1071
{
	z-index: 97;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 22px;
}

#u626-4
{
	z-index: 99;
	width: 677px;
	min-height: 72px;
	background-color: transparent;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 120px;
}

#u1456
{
	z-index: 106;
	width: 722px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 120px;
}

#u1196-4
{
	z-index: 107;
	width: 722px;
	min-height: 72px;
	background-color: transparent;
	color: #000000;
	font-size: 17px;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u628-4
{
	z-index: 111;
	width: 722px;
	min-height: 72px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu1459-3
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 26px;
}

#u1459-3
{
	z-index: 103;
	width: 872px;
	min-height: 421px;
	border-color: #C8C8C8;
	background-color: #27282A;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	border-radius: 12px;
	font-size: 20px;
	position: relative;
	margin-right: -10000px;
}

#u576-4
{
	z-index: 115;
	width: 361px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 117px;
}

#u581-4
{
	z-index: 119;
	width: 705px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 120px;
}

#u582-4
{
	z-index: 123;
	width: 715px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 120px;
}

#u585-4
{
	z-index: 127;
	width: 673px;
	min-height: 72px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 120px;
}

#u616
{
	z-index: 131;
	width: 522px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 24px;
}

#u574-4
{
	z-index: 132;
	width: 522px;
	min-height: 46px;
	background-color: transparent;
	color: #5B5B5B;
	text-align: left;
	line-height: 1.5;
	font-size: 23px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u612-4
{
	z-index: 136;
	width: 317px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 1.5;
	font-size: 23px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u583-4
{
	z-index: 140;
	width: 653px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 117px;
}

#u625-4
{
	z-index: 144;
	width: 555px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 120px;
}

#u1076
{
	z-index: 148;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 24px;
}

#u1081
{
	z-index: 150;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 24px;
}

#u1086
{
	z-index: 152;
	width: 73px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 22px;
}

#u1064-6
{
	z-index: 73;
	width: 695px;
	min-height: 46px;
	background-color: transparent;
	line-height: 1.5;
	color: #040426;
	text-align: center;
	font-size: 30px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	margin-left: 130px;
	margin-top: 52px;
	position: relative;
}

#u1064-2
{
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
}

#pu1070-15
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 10px;
}

#u1070-15
{
	z-index: 79;
	width: 307px;
	min-height: 559px;
	background-color: transparent;
	line-height: 1.32;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u1070-2
{
	font-size: 40px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
}

#u1070-5
{
	font-size: 30px;
	color: #FFFFFF;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
}

#u1070-3,#u1070-8,#u1070-9
{
	font-size: 20px;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
}

#u1070-11
{
	font-size: 30px;
	color: #FFFFFF;
	font-family: architects-daughter, sans-serif;
	font-weight: 700;
}

#u1070-7,#u1070-13
{
	font-size: 15px;
	font-family: nobile, sans-serif;
	font-weight: 400;
}

#u1808
{
	z-index: 154;
	width: 593px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 316px;
}

#pu508-3
{
	width: 0.01px;
	margin-top: 11px;
}

#u508-3
{
	z-index: 6;
	width: 959px;
	min-height: 62px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u468
{
	z-index: 9;
	width: 960px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u522
{
	z-index: 10;
	margin-bottom: -6px;
	width: 72px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -6px;
}

#u529-4
{
	z-index: 12;
	width: 223px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 720px;
}

#u530-7
{
	z-index: 16;
	width: 157px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 519px;
}

#u1754-4
{
	z-index: 63;
	width: 155px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 49px;
}

#u1756-6
{
	z-index: 67;
	width: 198px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 263px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 18px;
}

